
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

build/
dist/
.next/
out/

.env
.env.local

dump/
*.bson
*.json
*.lock
mongod.lock
/data/db/
*.ns

.vscode/
.idea/
*.swp
*.swo

